{% extends 'basebs.html' %}

{% load crispy_forms_tags %}

{% block title %} Cancel ticket {% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Are you sure you want to cancel your ticket to {{ ticket.queue.name }} at {{ time }}?<h1>
    <form method="post">
        {% csrf_token %}
        {{form | crispy}}

        <div class="btn-group" role="group" aria-label="Confirmation">
            <a class="btn btn-secondary" href="{% url 'queues:ticket_details' ticket.id %}">Back</a>
            <input type="submit" class="btn btn-primary" value="Cancel">
        </div>

    </form>
</div>
{% endblock %}

{% block footer %} {% endblock %}
