{% extends 'basebs.html' %}

{% load crispy_forms_tags %}

{% block title %} Add admin {% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>
        Add an admin to {{ queue.name }}
    </h1>
    <form  method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="btn-group" role="group" aria-label="Confirmation">
            <a class="btn btn-secondary" href="{% url 'queues:queue_edit_admins' queue.id %}">Back</a>
            <button class="btn btn-primary" action="submit">Add</button>
        </div>
    </form>
</div>

{% endblock %}
