{% extends 'basebs.html' %}

{% block title %} Manage {{ queue.name }} {% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>
        Manage {{ queue.name }}
    </h1>
    {% if state == 'open' %}
        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
            {% for t in tickets %}
            <div class="card m-2 {{ t.card_style }}" style="width: 18rem;">
                <div class="card-img-top" style="height: 10em;" role="button" onclick="location.href = '{% url 'users:profile' t.user.id %}'">
                    {% if t.user.image %}
                    <img src="{{ t.user.image.url }}" alt="{{ t.user.username }}'s image" class="img-fluid h-100">
                    {% else %}
                    <div class="d-flex flex-column align-items-center justify-content-center text-center w-100 h-100 bg-secondary">
                        No image
                    </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ t.user.first_name }} {{ t.user.last_name }} ({{ t.user.pronouns }})</h5>
                    <p class="card-text">{{ t.time }}</p>
                </div>
                <div class="btn-group w-100">
                    <a class="btn btn-success rounded-0" href="{% url 'queues:queue_manage_serve_ticket' queue.id t.id%}">Serve</a>
                    <a class="btn btn-danger rounded-0" href="{% url 'queues:queue_manage_cancel_ticket' queue.id t.id%}">Cancel</a>
                </div>
            </div>
            {% empty %}
            <h3> No ticket yet </h3>
            {% endfor %}
        </div>
        {% if user_role == 'OWN' %}
        <a class="btn btn-primary" href="{% url 'queues:queue_add_exception' queue.id %}">Close early</a>
        {% endif %}
    {% else %}
        {% if state == 'never_open' %}
        <h3>Mh? what are you doing here, you're on vacation, enjoy it.</h3>
        {% elif state == 'not_open_yet' %}
        <h3>Queue will open at {{ open_range.0 }}</h3>
        {% elif state == 'closed' %}
        <h3>Queue closed at {{ open_range.1 }}</h3>
        {% endif %}

        {% if user_role == 'OWN' %}
        <a class="btn btn-primary" href="{% url 'queues:queue_add_exception' queue.id %}">Add exception</a>
        {% endif %}
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'queues:queue_details' queue.id %}">Back</a>
</div>

{% endblock %}
